/* #quizy, #fillblank-text, #fillblank-ph, #Correct{
	position:absolute;
	width:550px;
	text-align:center;
}

#fillblank-text, #fillblank-ph, #Correct{
	left:15px; 
}

#quizy{
	left:77px;
	top:750px;
	z-index:10;
	font-size:50px;
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
}

#fillblank-text{top:35px; font-size:60px;}

#fillblank-ph{top:180px; padding-left:10px;}

#Correct{top:270px; font-size:40px; color:#0050CB;}
#Correct a{color:#FF5700;}

.quizy-fitb-answer{
  cursor: move;
  margin-right:12px;
  padding: 10px 6px;
  text-align: center;
  color:#000;
  font-weight:bold;
  border-radius: 3px;
  border:1px solid #DD6D00;
  box-shadow: 2px 2px 6px #A15F1D;
  background:#FC6;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FC6', endColorstr='#F90') progid:DXImageTransform.Microsoft.Shadow(color='#FFF', Direction=135, Strength=3) !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#FC6), to(#F90));
  background: -moz-linear-gradient(top,  #FC6,  #F90);
  position:relative;
  float:left;
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
}

Droppable elements styles
.quizy-fitb-droptarget{
  font-size:50px;
  padding-top:10px;
  width:100px;
  display:inline-block;
  color:#FFF;
  overflow:hidden;
  border-bottom:4px solid #000;
}

.quizy-fitb-droptarget-hover{
  color:#555;
  font-weight:bold;
  background:#555;
}


.quizy-fitb-dropelement-disabled{
  color:#FFF !important;
  cursor:default;
}

.quizy-fitb-dropelement.ui-draggable-dragging, .ph-dropelement-inline.ui-draggable-dragging{
  background:#F90;
  color:#000;
  font-weight:bold;
}

.droppable-element.quizy-fitb-droptarget.ui-droppable.ui-droppable-disabled.ui-state-disabled{visibility: hidden;} */

#quizy, #fillblank-text, #fillblank-ph, #Correct{
	position:absolute;
	width:250px;
	text-align:center;
}

#fillblank-text{
	left:10px;
}

#fillblank-ph, #Correct{
	left:0; 
}

#quizy{
	left:0;
	right:0;
	bottom:50px;
	height:200px;
	margin:0 auto;
	z-index:10;
	font-size:20px;
	transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
}

#fillblank-text{top:10px; font-size:28px; border: 2px solid #e49711;
  border-radius: 4px;
  padding: 10px 0; width:245px;}

#fillblank-ph{top:85px; padding-left:10px;}

#Correct{top:120px; font-size:18px; color:#0050CB;}
#Correct a{color:#FF5700;}

.quizy-fitb-answer{
  cursor: move;
  width:24px !important;
  margin-right:6px;
  padding: 5px 4px;
  text-align: center;
  color:#000;
  font-weight:bold;
  border-radius: 3px;
  border:1px solid #DD6D00;
  box-shadow: 2px 2px 6px #A15F1D;
  background:#FC6;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FC6', endColorstr='#F90') progid:DXImageTransform.Microsoft.Shadow(color='#FFF', Direction=135, Strength=3) !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#FC6), to(#F90));
  background: -moz-linear-gradient(top,  #FC6,  #F90);
  position:relative;
  float:left;
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
}

/* Droppable elements styles */
.quizy-fitb-droptarget{
  font-size:26px;
  width:40px;
  display:inline-block;
  color:#FFF;
  overflow:hidden;
  border-bottom:2px solid #000;
}

.quizy-fitb-droptarget-hover{
  color:#555;
  font-weight:bold;
  background:#555;
}


.quizy-fitb-dropelement-disabled{
  color:#FFF !important;
  cursor:default;
}

.quizy-fitb-dropelement.ui-draggable-dragging, .ph-dropelement-inline.ui-draggable-dragging{
  background:#F90;
  color:#000;
  font-weight:bold;
}

.droppable-element.quizy-fitb-droptarget.ui-droppable.ui-droppable-disabled.ui-state-disabled{visibility: hidden;}

@media only screen and (max-width:1000px) and (-webkit-min-device-pixel-ratio: 3), 
@media only screen and (max-width:1000px) and (-webkit-min-device-pixel-ratio: 4){
	#quizy{height:180px;}
	#fillblank-text{font-size:28px;}
}